.alert {
  margin: 10px;
  padding: 20px;
}
.answer-field {
  margin-top: 15px;
}

.answer-form label {
  color: black;
}

.answer-form input {
  color: black;
}

#css-selector {
  border: 3px solid red;
}

.span-color-red {
  color: red;
}

#bold {
  font-weight: bold;
}

#helpful-tips-wrapper span,
#helpful-tips-wrapper p {
  color: black;
}
